@import "../../styles/variables.css";

.edit-modal {
    margin: auto;
    min-width: 300px;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
}
