@import "../variables.css";

.header {
	padding: 1rem;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1215px;
	margin: 0 auto;
	padding: 1.5rem 3rem;
	background-color: var(--light-grey-bg);
	border-radius: 10px;
}

.title-container {
	display: flex;
	align-items: center;
	gap: .75rem;
}

.style-icon {
	font-size: 1.85rem;
}

.header h1 {
	font-size: 1.85rem;
	font-weight: bold;
	color: #242a41;
}

.header .actions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.divider {
	background-color: var(--grey-two);
	height: 40px;
	width: 1px;
	margin: 0 1rem;
}

.user-filter, .tag-filter {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
}

.user-filter {
	margin-left: auto;
}

.user-filter > span {
	padding-right: 25px;
}

.header .actions button {
	background-color: transparent;
	border: 1px solid #e0e0e0;
	padding: 8px 12px;
	border-radius: 5px;
	color: #616161;
	font-size: 14px;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.filter-by-badge, .filter-by-user {
	display: flex;
	padding: 1rem;
	gap: 2rem;
	border: #ccc 1px solid;
}

.header .actions button:hover {
	background-color: #f0f0f0;
	border-color: #ccc;
}

.header .avatars {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.header .avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-left: -25px;
	border: 2px solid #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.header .avatar:hover {
	transform: scale(1.1);
}

.header .avatar.plus {
	background-color: #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #616161;
	margin-left: -10px;
}

.tags {
	display: flex;
	align-items: center;
	gap: .75rem;
}

.tags > .badge-tag {
	cursor: pointer;
	transition: opacity .2s ease;
	border: none;
}

.tags > .badge-tag:hover {
	opacity: .7;
}


