@import "../variables.css";

.header {
	padding: 15px 20px;
	background-color: #f0f8ff;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1215px;
	margin: 0 auto;
	padding: 1.5rem;
	background-color: var(--light-grey-bg);
	border-radius: 10px;
}

.header h1 {
	font-size: 24px;
	font-weight: bold;
	color: #242a41;
}

.header .actions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header .actions button {
	background-color: transparent;
	border: 1px solid #e0e0e0;
	padding: 8px 12px;
	border-radius: 5px;
	color: #616161;
	font-size: 14px;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.filter-by-badge, .filter-by-user {
	display: flex;
	padding: 1rem;
	gap: 2rem;
	border: #ccc 1px solid;
}

.header .actions button:hover {
	background-color: #f0f0f0;
	border-color: #ccc;
}

.badges, .users {
	display: flex;
	gap: 1rem;
}

.badge, .user {
	background-color: #f0f8ff;
	border: 1px solid #e0e0e0;
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
}

.badge:hover, user:hover {
	background-color: #e0f0ff;
}

.header .avatars {
	display: flex;
	align-items: center;
}

.header .avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-left: -25px;
	border: 2px solid #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.header .avatar-1 {
	background-image: url('https://avatars.githubusercontent.com/u/123703672?v=4');
}

.header .avatar-2 {
	background-image: url('https://avatars.githubusercontent.com/u/137360936?v=4');
}

.header .avatar-3 {
	background-image: url('https://avatars.githubusercontent.com/u/70522543?v=4');
}

.header .avatar-4 {
	background-image: url('https://avatars.githubusercontent.com/u/150956309?v=4');
}

.header .avatar:hover {
	transform: scale(1.3);
}

.header .avatar.plus {
	background-color: #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #616161;
	margin-left: -10px;
}
