@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #d60000;
    --light-red: #ff000055;
    --blue: #51B1C7;
    --blue-two: #2abbdcb0;
    --medium-blue: #D2EAF1;
    --light-blue: #F1F8FB;
    --orange: #FFA200;
    --light-orange:#FFFDF9;
    --green: #89C388;
    --strong-green: #58be57;
    --light-green: #F3FFF7;
    --grey: #6b6b6b71;
    --grey-two: #6b6b6b2d;
    --grey-three: #6b6b6b4c;
    --light-grey-bg: #c4c4c416;
    --light-blue: #f0f8ff;
    --Monsterrat: "Montserrat", sans-serif;
}