<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Kanban</title>
    <link rel="stylesheet" href="/src/styles/components/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    


</head>
<body>
    
<main class="kanban">

    <!-- Coluna ToDo-->
    <div class="kanban-column" data-id="1">
        <div class="kanban-title">
            <h2>Pendente</h2>

            <button class="add-card">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="kanban-cards">
            <div class="kanban-card">
                <div class="badge high">
                    <span>Prioridade Alta</span>
                </div>
                <p class="card-title">
                    Estudar Angular
                </p>

                <div class="card-infos">
                    <div class="card-icons">
                        <p>
                            <i class="fa-regular fa-comment">
                                0
                            </i>
                        </p>

                        <p>
                            <i class="fa-solid fa-paperclip">
                                1
                            </i>
                        </p>
                    </div>

                    <div class="user">
                        <img src="/src/styles/components/images/WhatsApp Image 2024-01-08 at 16.14.38.jpeg" alt="Usuário do quadro Kanban"> 
                    </div>
                </div>
                <button class="remove-card">
                    <i class="fa fa-trash" aria-hidden="true"></i> Remover
                </button>


                <button class="move-card right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Avançar
                </button>
                
            </div>

        </div>


    </div>


    <!-- Coluna Em progresso-->
    <div class="kanban-column" data-id="2">
        <div class="kanban-title">
            <h2>Em Progresso</h2>

            <button class="add-card">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="kanban-cards">
            <div class="kanban-card">
                <div class="badge low">
                    <span>Prioridade Alta</span>
                </div>
                <p class="card-title">
                    Realizando o trabalho final, do módulo 4.
                </p>

                <div class="card-infos">
                    <div class="card-icons">
                        <p>
                            <i class="fa-regular fa-comment">
                                3
                            </i>
                        </p>

                        <p>
                            <i class="fa-solid fa-paperclip">
                                1
                            </i>
                        </p>
                    </div>

                    <div class="user">
                        <img src="/src/styles/components/images/WhatsApp Image 2024-01-08 at 16.14.38.jpeg" alt="Usuário do quadro Kanban">
                    </div>
                </div>

                <button class="remove-card">
                    <i class="fa fa-trash" aria-hidden="true"></i> Remover
                </button>

                <button class="move-card left">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                </button>
                <button class="move-card right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Avançar
                </button>
                
            </div>

        </div>


    </div>

    <!-- Finalizados-->
    <div class="kanban-column" data-id="3">
        <div class="kanban-title">
            <h2>Finalizado</h2>

            <button class="add-card">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="kanban-cards">
            <div class="kanban-card">
                <div class="badge medium">
                    <span>Prioridade Alta</span>
                </div>
                <p class="card-title">
                    Estudo de TS concluído.
                </p>

                <div class="card-infos">
                    <div class="card-icons">
                        <p>
                            <i class="fa-regular fa-comment">
                                5
                            </i>
                        </p>

                        <p>
                            <i class="fa-solid fa-paperclip">
                                2
                            </i>
                        </p>
                    </div>

                    <div class="user">
                        <img src="/src/styles/components/images/WhatsApp Image 2024-01-08 at 16.14.38.jpeg" alt="Usuário do quadro Kanban">
                    </div>
                </div>
                <button class="remove-card">
                    <i class="fa fa-trash" aria-hidden="true"></i> Remover
                </button>

                <button class="move-card left">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                </button>

                
            </div>

        </div>


    </div>

    </div>

</main>


<script type="module" src="/src/main.ts"></script>
</body>
</html>