<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/components/header.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<div class="header-container">
				<h1>KanPlan</h1>

				<div class="actions">
					<div class="filter-by-badge">
						<button id="filter-button" class="filter">
							Filter by badge
						</button>
						<div class="badges">
							<button class="badge">Design</button>
							<button class="badge">UX</button>
							<button class="badge">Frontend</button>
							<button class="badge">Backend</button>
						</div>
					</div>

					<div class="filter-by-user">
						<button id="user-button" class="filter">
							Filter by user
						</button>
					
          <div class="avatars">
						<button class="avatar avatar-1" alt="Avatar 1" title="Avatar 1"></button>
						<button class="avatar avatar-2" alt="Avatar 2" title="Avatar 2"></button>
						<button class="avatar avatar-3" alt="Avatar 3" title="Avatar 3"></button>
						<button class="avatar avatar-4" alt="Avatar 4" title="Avatar 4"></button>
					</div>
        </div>  

					<button id="share-button">Share</button>
				</div>
			</div>
		</header>
	</body>
</html>
